{{!< layout}}
<div class="aui-dialog2-content">
  <div class="aui-message aui-message-success">
    <p class="title">
        <strong>Hello from your Automated Action Module Config Page!</strong>
    </p>
    <p>You can add anything you want here; you have full control over the content.</p>
  </div>
  <p>
      Here is an example form to get you started:
    <form class="aui top-label">
        <fieldset class="top-label">
            <div class="field-group top-label">
                <label for="room-id">My Form Field<span class="aui-icon icon-required"> required</span></label>
                <input class="text" type="text" id="my-form-field" title="My Form Field" value="2618864">
            </div>
        </fieldset>
    </form>
    <script>
    $(function () {
        AP.require(["events"], function(events) { 
            var automation = new AP.jiraServiceDesk.Automation();

            automation.getConfig(function(config) {
                if (config) { // config is undefined if this is a new action
                    $("#my-form-field").val(config.myFormField);
                }
            });

           events.on("jira-servicedesk-automation-action-serialize", function() {
                automation.serialize({
                    myFormField: $("#my-form-field").val()
                });
            });

            events.on("jira-servicedesk-automation-action-validate", function() {
                var isValid = true;
                
                if (!$("#my-form-field").val()) {
                    renderErrorMessage("my form field cannot be empty");
                    isValid = false;
                }

                automation.validate(isValid);
            });
        });
    });
    </script>
    </p>
</div>